#slideshow img {
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: 0;
}

/* clean gray
*******************************************************************************/
button {
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 100%;
}

button:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

button:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

select {
  width: 100%;
  font-size: 16px;
  background: #f0f0f0;
  margin-bottom: 10px;
}
